
body{
    margin: 0;
    padding: 0;
}
#grid-container-game{
    border: 6px solid red;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 300px 225px;
    background-color: black;
    
}

#image{
border: 5px solid red;
height: 300px;
width: 600px;
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 2;
grid-column-end: 4;
}

#game-buttons{
    margin-top: 90px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 7;
    
}

#description{
    text-align: center ;
    border: 5px solid red;
    margin-right: 60px;
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 7;
}

#button1{
    background-color: white; 
    font-size: 16px;
    padding: 15px 32px;
    margin: 4px 2px;
    color: black; 
    border: 5px solid red;
}


#button2{
    background-color: white; 
    font-size: 16px;
    padding: 15px 32px;
    margin: 4px 2px;
    color: black; 
    border: 5px solid red;
}

#button3{
    background-color: white; 
    font-size: 16px;
    padding: 15px 32px;
    margin: 4px 2px;
    color: black; 
    border: 5px solid red;
}

img{
    height: 200px;
    width: 200px;
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;  
}

